@import './base/variables';
@import './base/maps';
@import './base/extend';
@import './base/mixin';
@import './componentes/main';
@import './componentes/nav';
@import './componentes/footer';

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }

