*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
.container{ 
    
    width: 100%;
    min-height: 20vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;

}

.logo{
    width: 65px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

nav ul li a:hover{
    color: #66666e;
}

.fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3{
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 h4{
    margin: 20px 0 10px;
    font-size: 20px;
    
}
.col-1 p{
    font-size: 16px;
    color: #707070;
    
}

button{
    width: 80px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px ;
    cursor: pointer;
    font-weight: bold;
    background-color: #e6e6e9;
    

}

button:hover{
    background-color: #fcc000;
    border: none;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: #fcc000;
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .psplus{
    width: 85%;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fcc000;
    height: 70%;
    width: 80%;
    z-index: -1;

}

.social img{
    height: 20px;
    margin: 20px;
}

.social{
    text-align: center;
}

@media only screen and (max-width:700px) {
    
    .logo{
        width: 50px;
        
    }
    
    nav ul{
        width: 100%;
        background-color: #66666e;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        font-weight: bold;
    }

.menu-icon{
    display: block;
}

#menulist{
    overflow: hidden;
    transition: 0.5s;
}

.social img{
    height: 18px;
    margin: 20px;
    
}

.social{
    text-align: center;
}

.fila{
    flex-direction: column-reverse;
    margin: 50px 0;
}
.col-2{
    flex-basis: 100%;
    margin-bottom: 50px;
}

.col-2 .psplus{
    width: 77%;
}

.col-1{
    flex-basis: 100%;
}

.col-1 h2{
    font-size: 35px;
}
.col-1 h3{
    font-size: 20px;
}
.col-1 p{
    font-size: 15px;
}

}

/*---------Estudios.html--------------------*/

*{
    margin: 0;
    padding: 0;
}

.container-estudios{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(2, 500px);
    justify-content: center;
    margin: 30px;
    padding: 20px;
    gap: 3%;
    
}

.studios{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  background-color: #e6e6e9;
  

}

.studios img{
    align-items: center;
}

.studios p{
    font-size: 20px;
    margin: 10px;
    padding: 10px;

}



.studios a{
    text-align: center; 
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.studios a:hover{
    font-weight: bold;
}

.titulo{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 5px;
}

@media (max-width:700px){
    .container-estudios{
       grid-template-columns: 450px;
       grid-template-rows: repeat(8, 550px);
    }
.titulo{
    margin: 25px;
}

}
