.social img{
    height: 20px;
    margin: 20px;
    @media only screen and (max-width:700px){
        height: 18px;
        margin: 20px;
    }
}

.social{
    text-align: center;
    @media only screen and (max-width:700px){
        text-align: center;
    }
}

footer{
    @include colores ($colors, $ancho, $alto)
}