

.container{ 
    
    width: 100%;
    min-height: 20vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}

.navbar{
    width:map-get($navbar,width );
    display: map-get($navbar, display-nb,);
    align-items: map-get($navbar,align-items);
}

.logo{
    width: 65px;
    cursor: pointer;
    margin: 30px 0;
    @media only screen and (max-width:700px){
       width: 50px; 
    }
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
    @media only screen and (max-width:700px){
       display: block; 
    }
}

nav{
    flex: 1;
    text-align: right;

ul{
    @media only screen and (max-width:700px){
        width: 100%;
        background-color: #66666e;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;  
    }
    li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
        @media only screen and (max-width:700px){
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;  
        } 
    a{
        text-decoration: none;
        color: black;
        font-size: 15px;
        @media only screen and (max-width:700px){
            font-weight: bold;
        } 
    }
    }

}
}

#menulist{
    @media only screen and (max-width:700px){
        overflow: hidden;
        transition: 0.5s;
    }
}